{{template "base" .}} 


{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the homepage</h1>
      <p>This is some text</p>
    </div>
  </div>
</div>
{{end}}
