{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the about page</h1>
      <p>This is a paragraph of text</p>
      <p>This is a paragraph of text</p>
    </div>
  </div>
</div>
{{end}}
